node_modules
.idea
local.json
*.iml
tmp
.DS_Store
public/prescriptions/
public/strokes/
newrelic_agent.log
dist
lib/filekeys/
public/uploads/
public/dispensary/
public/Daily_Summary_Report*
public/imsMedicineDetails*
public/dbFix*
public/archive_*.csv
public/login_*.csv
public/reverse_bran*.csv
ims_data*.log
analytics_script*.log
prescription*.log
*.log
